#home-content {
    margin-top: 30vh;
    transform: translateY(-50%);
}

.app-name {
    color: var(--pico-primary);
}

.btn-zone {
    margin-top: 4em;
}

.btn-zone a {
    width: 100%;
    position: relative;
}

.btn-zone svg {
    font-size: 2em;
    position: absolute;
    left: 8px;
    top: 8px;
}